.button-container{
    margin: auto;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width: 17%;
    margin-top: 15%;
    
    
}

button{
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid ;
    margin-left: 5px;
    padding: 15px;
}
button:hover{
    transition: 1s;
    color: brown;
}

span{
    padding: px;
}
.loading{
    margin: auto;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: space-between;
        width: 17%;
        margin-top: 15%;
}